@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #362323;
    overflow-x: hidden;
    .bgcontent{
        width: 100%;
        height: 85vh;
        background-color: #EEDAB5;
        border-radius: 0 0 74px 74px;
    }
}
    .hide{
        display: none;
    }

header{
    height: 20vh;
    nav{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    .logo{
        justify-self: center;
    }
    .menubar{
        padding: 0 15px ;
    }
}

main{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .about{
        height: 60%;
        width: 85%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        p{
            font-size: 15px;
            font-style: italic;
            font-family: "Albert Sans", sans-serif;
            font-weight: 300;
            margin: 0;
            }
        h3{
            font-family:"Albert Sans", sans-serif ;
            font-size: 20px;
            font-style: italic;
            font-weight: 500;
        }
    }
    .btn{
        margin-bottom: 60px;
        button{
            width: 150px;
            height: 48px;
            border-radius: 25px;
            border: 0;
            background: #855B5B;
            font-size: 20px;
            font-family: "Albert Sans", sans-serif; 
        }
    }
}

footer{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 700px) {
    .hide{
        display: inline-block;
        grid-column-start: 2;
        grid-column-end: 4;
        height: 100%;
        
        .navbar {
            display: flex;
            /* border: solid red 2px; */
            height: 100%;
            justify-content: space-around;
            align-items: center;
            ul {
            list-style: none; 
            display: flex;
            gap: 100px;
            li{
                a{
                    text-decoration: none;
                    font-family: "Albert Sans", sans-serif;
                    font-size: 17px;
                    font-weight: 600;
                    color: black;
                }
            }
        }
    
        }
    }
    .menubar {
        display: none;
    }
}










