
body{
    margin: 0;
    padding: 0;
    background:  #EEDAB5;
    overflow-x: hidden;
    overflow-y: visible;

}
.hide{
    display: none;
}
header{
    height: 20vh;
    nav{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }  
    .logo{
        justify-self: center;
    }
    .menubar{
        padding: 0 15px ;
    }
}

main{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    height: 70vh;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 80px 20px 0 20px;
    padding-top: 20px;
    
    /* border: solid black 2px; */

    .card{
        border: solid 2px black;
        width: 344px;
        height: 331px;
        background-color: #362323eb ;
        display: flex;
        justify-content: center;
        border-radius: 30px;
        margin-bottom: 30px;
        .content{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
}
            .head{
                padding-top: 35px;
                width: 80%;
                margin-top: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .desc{
                position: relative;
                top: 24px;
                text-align: center;
                color: rgba(255, 255, 255, 0.747);
                font-family: "Albert Sans", sans-serif;
                font-weight: 100;
                font-size: 15px;
                font-style: italic;
            }
            .price{
                display: flex;
                justify-content: center;
                margin-top: 40px;
                width: 60%;
                border-top: solid 2px white;
                p{
                    font-family: "Albert Sans", sans-serif;
                    font-size: 22px;
                    color: rgba(255, 255, 255, 0.855);
                }
            }
        }
}


footer {
    .bgfooter {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 8vh;
        background-color: #306844;
        border-radius: 30px 30px 0px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
}













@media screen and (min-width: 700px) {
    .hide{
        display: inline-block;
        grid-column-start: 2;
        grid-column-end: 4;
        height: 100%;
        
        .navbar {
            display: flex;
            /* border: solid red 2px; */
            height: 100%;
            justify-content: space-around;
            align-items: center;
            ul {
            list-style: none; 
            display: flex;
            gap: 100px;
            li{
                a{
                    text-decoration: none;
                    font-family: "Albert Sans", sans-serif;
                    font-size: 17px;
                    font-weight: 600;
                    color: black;
                }
            }
        }
    
        }
    }
    .menubar {
        display: none;
    }
}